
sql-server.demo.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
sql-server.demo.url=jdbc:sqlserver://127.0.0.1:2433;DatabaseName=demo
sql-server.demo.username=******
sql-server.demo.password=******

mysql.demo.driver=com.mysql.jdbc.Driver
mysql.demo.url=jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&useSSL=false
mysql.demo.username=******
mysql.demo.password=******
